html {
    background-color: #F1DAC4;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 5rem;
    font-weight: bold;
}

h2 {
    font-size: 4rem;
    font-weight: bold;
}

h3 {
    font-size: 3rem;
}

header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background-color: #593F62;
    width: 100%;
    border-bottom: 5px solid #3B3923;
}

header h1 {
    padding: 2rem;
}

header nav ul {
    padding: 2rem;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    font-size: 1.75rem;
    padding: 0.5rem;
    border: 3px solid #3B3923;
    border-radius: 5px;
}

header nav ul li a:hover {
    background-color: #736F4E;
}

#welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    max-width: 90%;
    height: 45rem;
    background-image: url('../images/welcome-splash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid #3B3923;
    border-radius: 10px;
}

#welcome h2 {
    background-color: #736F4E;
    padding: 2rem;
    border: 3px solid #3B3923;
    border-radius: 10px;
}

#links {
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem auto;
}

#links .link {
    box-sizing: border-box;
    border: 3px solid #3B3923;
    height: 17rem;
    width: 500px;
    margin: 0 5rem 0 5rem;
}

#links .link h3 {
    background-color: #593F62;
    padding: 2rem 0;
    border-radius: 5px;
    margin: 1rem;
    text-decoration: underline;
}

#links .link p {
    font-size: 1.75rem;
    padding: 0.5rem;
}

#links .link:hover { 
    background-color: #736F4E;
}

footer {
    margin-top: 2rem;
    background-color: #736F4E;
    border-top: 5px solid#3B3923;
}

footer p {
    text-align: center;
    font-size: 1.5rem;
    padding: 2.5rem;
}

.about {
    margin: 2rem;
}

.about h2 {
    margin-bottom: 2rem;
}

.about p {
    font-size: 1.5rem;
    margin: 0.5rem;
    text-align: justify;
}

.icons {
    display: inline-flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

.icons i {
    margin: 1rem;
}

.contact p {
    padding: 1rem;
}

#projects {
    margin: 2rem;
}

#projects h2 {
    margin: 2rem 0;
}

#projects p {
    font-size: 1.5rem;
}

#projects .project {
    margin-bottom: 4rem;
}

#projects .project h3 {
    margin: 2rem 0;
}

#projects .project .images {
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

#projects .project .images img {
    width: 25rem;
    max-height: 20rem;
}

#projects .project p {
    margin: 1rem;
    font-size: 1.5rem;
}